In [43]:
# Printing
print("hello world")
print(15)

hello world
15

In [44]:
str="neama"
n=22
print(str,":",n)

neama : 22

In [45]:
#Conditionals
x=6
if x != 5 :
    print ('hello')
elif x > 8 :
    print ('yes')
else :
    print ('no')

hello

In [46]:
#lists
#list that have different types of data 
s = [ "sam" , 5 , 3.2 , 5+2j ]
s = [1,2,3,6,9,8,7,4,11,20]
#return from index 5 to 9
a = s[5:10]
print(a)
#return from the begining to the index 6 
b = s[:7]
print(b)
#return from the list except the last 3 items
c = s[:-3]
print(c)
#print from index 7 to the end 
d = s[7:]
print(d)
#print all list
e = s[:]
print(e)
s.append(7)
print(s)
print("############looping in list#########")
for i in s:
    print(i)
print("############looping in list and print numbers greater than 7#########")
l=[]
for i in s:
    if(i>7):
        l.append(i)
print(l)
print("############insert item in specefic place#########")
s.insert(7,"a")
print(s)

[8, 7, 4, 11, 20]
[1, 2, 3, 6, 9, 8, 7]
[1, 2, 3, 6, 9, 8, 7]
[4, 11, 20]
[1, 2, 3, 6, 9, 8, 7, 4, 11, 20]
[1, 2, 3, 6, 9, 8, 7, 4, 11, 20, 7]
############looping in list#########
1
2
3
6
9
8
7
4
11
20
7
############looping in list and print numbers greater than 7#########
[9, 8, 11, 20]
############insert item in specefic place#########
[1, 2, 3, 6, 9, 8, 7, 'a', 4, 11, 20, 7]

In [47]:
#nested loop
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            print(x,y)

1 3
1 4
2 3
2 1
2 4
3 1
3 4

In [48]:
#tuples
L =(2,5,6,3,2)
print(L[2])

6

In [49]:
#dictionary
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
#edit item
allkeys['egypt'] = '0030'
#print keys value
a=list(allkeys.keys())
print(a)
#print values
b = list(allkeys.values())
print(b)
#print dictionary
c = list(allkeys.items())
print(c)
for i,v in allkeys.items():
    print(i,":",v)
#delete egypt value
del(allkeys['egypt'] )
print(allkeys)
#delete all list 
allkeys.clear()
print(allkeys)

['egypt', 'america', 'ksa']
['0030', '001', '00966']
[('egypt', '0030'), ('america', '001'), ('ksa', '00966')]
egypt : 0030
america : 001
ksa : 00966
{'america': '001', 'ksa': '00966'}
{}

In [50]:
#Unpacking tuple
student_data=("sam","01144778899","A-")
name , phone , grade = student_data
print(name," you got ",grade)

sam  you got  A-

In [51]:
#looping in List of tuples
student_data=[("sam","01144778899","A-"),
              ("samar","01144778899","B+"),
              ("lily","01144778899","C+"),
              ("tom","01144778899","A"),
              ("hany","01144778899","D")
             ]
for name , phone , grade in student_data:
    if grade.startswith('A'):
        print('Congratulations', name,
              'on getting an', grade)
    elif grade.startswith('B'):
        print('Congratulations', name,
              'on getting an', grade)
    elif grade.startswith('C'):
        print('Congratulations', name,
              'on getting an', grade)
    else:
        print("sorry", name, "you are not passed")

Congratulations sam on getting an A-
Congratulations samar on getting an B+
Congratulations lily on getting an C+
Congratulations tom on getting an A
sorry hany you are not passed

In [52]:
#dictionaries
countries = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
print ('0020' in countries.values()) #true
# Change an entry that does exist
countries['egypt'] = '0030'
print ('egypt' in countries) #true
print ('0020' in countries) #false
print ('0020' in countries.values()) #false 
# add an entry that doesm't exist
countries['france']='00224'
print(countries)
# Delete an entry that exists
del countries['america']
print(countries)

True
True
False
False
{'egypt': '0030', 'america': '001', 'ksa': '00966', 'france': '00224'}
{'egypt': '0030', 'ksa': '00966', 'france': '00224'}

In [53]:
#looping over dictionaries
for key in countries:
    value = countries[key]
    print(key, 'has key', value)
print("###############################################")
for key, value in countries.items():
    print(key, 'has key', value)

egypt has key 0030
ksa has key 00966
france has key 00224
###############################################
egypt has key 0030
ksa has key 00966
france has key 00224

In [54]:
#Combining Data Types
#List of tuples
student_data=[("sam","01144778899","A-"),
              ("samar","01144778899","B+"),
              ("lily","01144778899","C+"),
              ("tom","01144778899","A"),
              ("hany","01144778899","D")
             ]
print(student_data)
print(student_data[2])
print(student_data[2][2])

[('sam', '01144778899', 'A-'), ('samar', '01144778899', 'B+'), ('lily', '01144778899', 'C+'), ('tom', '01144778899', 'A'), ('hany', '01144778899', 'D')]
('lily', '01144778899', 'C+')
C+

In [55]:
#List of dictionaries
student_data_list1=[{"name":"sam","phone":"01144778899","grade":"A-"},
              {"name":"samar","phone":"01144778899","grade":"B+"},
              {"name":"lily","phone":"01144778899","grade":"c+"},
              {"name":"tom","phone":"01144778899","grade":"A"},
              {"name":"hany","phone":"01144778899","grade":"D"}
              ]
print(student_data_list1)
print(student_data_list1[2])
print(student_data_list1[2]["name"])
#another way
print("################################################################################################")
student_data_list2 = []
for name, phone, grade in student_data:
    student = {
        'name': name,
        'phone': phone,
        'grade': grade,
    }
    student_data_list2.append(student)
print(student_data_list2)
print(student_data_list2[2])
print(student_data_list2[2]["name"])

[{'name': 'sam', 'phone': '01144778899', 'grade': 'A-'}, {'name': 'samar', 'phone': '01144778899', 'grade': 'B+'}, {'name': 'lily', 'phone': '01144778899', 'grade': 'c+'}, {'name': 'tom', 'phone': '01144778899', 'grade': 'A'}, {'name': 'hany', 'phone': '01144778899', 'grade': 'D'}]
{'name': 'lily', 'phone': '01144778899', 'grade': 'c+'}
lily
################################################################################################
[{'name': 'sam', 'phone': '01144778899', 'grade': 'A-'}, {'name': 'samar', 'phone': '01144778899', 'grade': 'B+'}, {'name': 'lily', 'phone': '01144778899', 'grade': 'C+'}, {'name': 'tom', 'phone': '01144778899', 'grade': 'A'}, {'name': 'hany', 'phone': '01144778899', 'grade': 'D'}]
{'name': 'lily', 'phone': '01144778899', 'grade': 'C+'}
lily

In [56]:
#Dictionary of dictionaries
student_data_dic1={"sam":{"phone":"01144778899","grade":"A-"},
              "samar":{"phone":"01144778899","grade":"B+"},
              "lily":{"phone":"01144778899","grade":"c+"},
              "tom":{"phone":"01144778899","grade":"A"},
              "hany":{"phone":"01144778899","grade":"D"}
             }
print(student_data_dic1)
print(student_data_dic1["sam"])
print(student_data_dic1["sam"]["grade"])
#another way
print("################################################################################################################")
student_data_dic2 = {}
for name, subject, grade in student_data:
    student = {
        'subject': subject,
        'grade': grade,
    }
    student_data_dic2[name] = student
print(student_data_dic2)
print(student_data_dic2["sam"])
print(student_data_dic2["sam"]["grade"])

{'sam': {'phone': '01144778899', 'grade': 'A-'}, 'samar': {'phone': '01144778899', 'grade': 'B+'}, 'lily': {'phone': '01144778899', 'grade': 'c+'}, 'tom': {'phone': '01144778899', 'grade': 'A'}, 'hany': {'phone': '01144778899', 'grade': 'D'}}
{'phone': '01144778899', 'grade': 'A-'}
A-
################################################################################################################
{'sam': {'subject': '01144778899', 'grade': 'A-'}, 'samar': {'subject': '01144778899', 'grade': 'B+'}, 'lily': {'subject': '01144778899', 'grade': 'C+'}, 'tom': {'subject': '01144778899', 'grade': 'A'}, 'hany': {'subject': '01144778899', 'grade': 'D'}}
{'subject': '01144778899', 'grade': 'A-'}
A-

In [57]:
#Dictionary with tuple keys
student_data_dic3 = {}
for name, subject, grade in student_data:
    student_data_dic3[name,phone] = grade
print(student_data_dic3)

{('sam', '01144778899'): 'A-', ('samar', '01144778899'): 'B+', ('lily', '01144778899'): 'C+', ('tom', '01144778899'): 'A', ('hany', '01144778899'): 'D'}